* {
    margin: 0;
    padding: 0;
}

.navigation {
    font-family: var(--font1);
    height: 120px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-size: 35px;
    display: flex;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 18px;
}

.nav-left ul li {
    font-family: var(--font2);
    list-style: none;
    margin: 14px;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
}

.nav-left ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.nav-left span {
    cursor: pointer;
}

.nav-left span:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.nav-right {
    font-size: 10px;
}

.content {
    margin-top: 20px;
    height: 430px;
    background-image: url(./img);
    /* background-color: rgb(165, 165, 236); */
    display: flex;
}

.content-left {
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    height: 282px;
    border: 2px solid black;
    clip-path: circle();
    margin-top: 40px;
    margin-right: -63px;
}

.footer {
    height: 50px;
    background-color: var(--main-bg-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font1);
    flex-direction: column;
    padding: 10px;
}

.home-article {
    display: flex;
    margin: 25px;
}

.home-article img {
    width: 300px;
}

.home-article-content {
    align-self: center;
    padding: 25px;
}